
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("./img/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

  
h1 {
  font-family: 'Pokemon Solid', sans-serif;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-text-stroke-width: 4px;
-webkit-text-stroke-color: #3663ad;
font-size:60px; color: #ffcb05;
letter-spacing: 15px;
text-shadow: 5px 5px 5px #3663ad;
}
                                                
.board {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  backdrop-filter: blur(3px);
}
  
  .row {
    display: flex;
    gap: 8px;
  }
  
  .tile {
    width: 48px;
    height: 48px;
    border: 2px solid #18181a;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #3a3a3c;
    color: #ffffff;
    transition: background-color 0.3s;
  }
  
  .correct {
    background-color: #00c67a;
    border-color: #00c67a;
  }
  
  .present {
    background-color: #ffbe4d;
    border-color: #ffbe4d;
  }
  
  .absent {
    background-color: #7d0b18;
    border-color: #7d0b18;
  }
  
  .keyboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  
  .keyboard-row {
    display: flex;
    gap: 6px;
    justify-content: center;
  }   
  
  .key {
    width: 40px;
    height: 58px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3a3a3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .key.large {
    width: 80px;
  }